@import url(https://fonts.googleapis.com/css?family=Roboto);

table, th, td
{	
	padding: 5px;
    	border-spacing: 5px;
	border-collapse: collapse;
}
h1,h2,h3,h4,h5,h6,td
{
	text-align: center;
}
a:hover 
{
	text-decoration: none; 
}


.bgimage
{
	background-image: url("https://f1.bcbits.com/img/a2462425673_10.jpg");
	height: 500px;
	width: 500px;
	border: 1px solid black;
}
