body 
{
    background-color: #F8F8F8 ;
}
#tAddress
{	
	padding: 5px;
    	border-spacing: 5px;
	font-family: "Georgia", Georgia, Serif;
}
h1
{
	font-style: oblique;
	font-family: "Georgia", Georgia, Serif;
}
p, h3
{
	text-align: center;
	font-family: "Georgia", Georgia, Serif;
}
