@import url(https://fonts.googleapis.com/css?family=Roboto);

table, th, td
{	
	padding: 5px;
    	border-spacing: 5px;
	border-collapse: collapse;
}
td
{
	font-style: italic;
}
tbody tr:nth-child(even)
{
	background-color: #DBDBDB;
}
tbody tr:nth-child(odd)
{
	background-color: white;
}
h1,h2,h3,h4,h5,h6,td
{
	text-align: center;
}

a:link 
{
	text-decoration: none; 
}
a:visited 
{
	
}
a:hover 
{
	text-decoration: underline; 
	background-color: #669698;
}
a:active 
{
	
}

.bgimage
{
	background-image: url("https://f1.bcbits.com/img/a2462425673_10.jpg");
	height: 500px;
	width: 500px;
	border: 1px solid black;
}
