table, th, td
{	
	padding: 5px;
    	border-spacing: 5px;
	border-collapse: collapse;
}
tr:nth-child(even) {background-color: #f2f2f2}
h1,h2,h3,h4,h5,h6,td
{
	text-align: center;
}
.oblique
{
	font-style: oblique;
	
}
a:hover 
{
	text-decoration: none; 
}
body {
    background-color: #99CCCC;
}
