@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

body 
{
    background-color: #F8F8F8 ;
	font-family: 'Playfair Display', serif;	
}
#tAddress
{	
	padding: 5px;
    	border-spacing: 5px;
}

p, h3
{
	text-align: center;
}


