@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

body 
{
    background-color: #F8F8F8 ;
	font-family: 'Playfair Display', serif;	
}
#tAddress
{	
	padding: 15px;
    	border-spacing: 50px;
}

p, h3
{
	text-align: center;
}
a:link 
{
	text-decoration: underline; 
}
a:visited 
{
	color: green; 
}
a:hover 
{
	text-decoration: none; 
	font-weight: bold;
}
a:active 
{
	text-decoration: none;
}

table
{
	border-collapse: collapse;
}

